.price {
    text-align: right;
}

/* Page specific styles */

main {
    position: relative;
}

.recently-viewed-sidebar {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;

    height: fit-content;
    border: #2b2b2b solid 1px;
}

.sidebar-item {
    border: #2b2b2b solid 1px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.cart-item-img {
    width: 100%;
}

.sidebar-image {
    max-width: 64px;
}

.input-quantity-field {
    width: 100%;
    height: 3rem;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;

    border: 1px solid #9e9e9e;
    border-radius: 3px;
    text-align: right;
    background-color: white;
}

.input-error {
  border: 1px solid red;
  border-radius: 3px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.hidden {
    display: none;
}

body {
    background-color: #f7f7f7;
}

.headline {
    height: 65px;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.center {
    align-content: center;
}

img .product-tile {
    max-width: 64px;
}

.container, .btn, .browser-default {
    margin-top: 1rem;
}

.filter {
    display: none;
}

nav ul li:hover {
    background-color: #00bfa5;
}

.navbar-element {
    line-height: 64px;
}

.cart-quantity {
    font-size: 1.6rem;
}

nav i.material-icons {
    line-height: 64px;
    font-size: 34px;
}

@media only screen and (min-width: 993px) {
    .filter {
        display: block;
    }
}

@media only screen and (min-width: 993px) {
    .recently-viewed-sidebar {
        display: block;
    }
}
