.price {
  text-align: right;
}

/* Page specific styles */

main {
  position: relative;
}

.recently-viewed-sidebar {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;

  height: fit-content;
  border: #2b2b2b solid 1px;
}

.sidebar-item {
  border: #2b2b2b solid 1px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.sidebar-item img {
  max-height: 125px;
}

.borderless {
  border-collapse: collapse;
  border : 1px solid transparent;
}

.borderless td, th {
  border : 1px solid transparent;
}

.error {
  color: red;
}

.success {
  color: green;
}

.hidden {
  display: none;
}

body {
  background-color: #f7f7f7;
}

.headline {
  height: 65px;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.center {
  align-content: center;
}

img .product-tile {
  max-width: 64px;
}

.container, .btn, .browser-default {
  margin-top: 1rem;
}

.filter {
  display: none;
}

@media only screen and (min-width: 993px) {
  .filter {
    display: block;
  }
}

@media only screen and (min-width: 601px) {
  .recently-viewed-sidebar {
    display: block;
  }
}
